/* You can add global styles to this file, and also import other style files */
.picture-item {
    width: 100% !important;
    margin: 20px 0 !important;
}

.picture-upload {
    position: relative;
    min-height: 68px;
}